<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Gabriel Chatelain's website</title>
        <meta name="description" content="Gabriel Chatelain's website">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
        <link rel="icon" href="{% static 'blog/svg/My_logo.svg' %}">
    </head>
    <body>

    {% block navbar %}
      {% include 'blog/base_navbar.html' %}
    {% endblock %}

    {% block hero %}
      {% include 'blog/base_hero.html' %}
    {% endblock %}
    
    {% block about%}
        {% include 'blog/base_about.html' %}
    {% endblock %}
        
    {% block blog_post %}
        {% include 'blog/base_blog_post.html' %}
    {% endblock %}
        
    <div id="contact"></div>
    
    {% load static %}
    <script type="module" src="{% static 'blog/colorTransition.js' %}"></script>
    </body>
</html>
